<div class="container-fluid product-container">
  <div class="row products">
    <div class="col-12 col-md-6 col-lg-4 card-container" *ngFor="let data of items; index as i;">
      <div class="card">
        <div class="card-details d-sm-none" routerLink="/details" [state]='data'>SHOW MORE</div>
        <div class="card-details d-none d-md-block" (click)="openDialog(data)">SHOW MORE</div>
        <div class="card-price"><span class="price" [ngClass]="{'--isDiscount': data.discount !== 0}">{{data.price | currency}}</span><span *ngIf="data.discount !==0" class="discount">{{data.discount | currency}}</span></div>
      </div>
      <div class="product-title">{{data.name}}</div>
    </div>
  </div>
</div>